
{% trans_default_domain 'FOSUserBundle' %}

<link href="{{ asset('/organizer/web/css/dashboard.css') }}" type="text/css" rel="stylesheet" />

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:#428BCA;font-family:Verdana;font-weight:bold;">Mon Dashboard</a>
          <div class="name">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>        
           {% endif %}
           </div>
        </div>
     
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ path('fos_user_profile_show') }}">Mon Compte</a></li>
            <li class="active"><a href="{{ path('organizer_homepage_projet') }}">Mes Projets</a></li>
            <li><a href="{{ path('fos_user_profile_agenda') }}">Mon agenda</a></li>
            <li><a href="#">Mes Groupes</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="form-group addprojet">
          <a href="{{ path('organizer_creer_projet') }}"><input type="submit" value="Crée un projet" class="btn btn-primary"/></a>
          </div>

          <h1 class="page-header">Liste de mes projets</h1
          <div class="row placeholders">       
            {% for projet in projets %}
              <li><label><b>Nom du projet : </b></label> <b><a href="projet/{{ projet.xFkPrjIdUpr }}">{{ projet.prjNom }}</a></b>  </li>
              <li style="padding-left:25px"><label> <b>Description</b> : </label> {{ projet.prjDescription }} </li>
              <li style="padding-left:30px"><label> <b>Cree le</b> : </label> {{ projet.prjCreated|date('Y-m-d H:i:s') }} </li>
              <li style="padding-left:35px"><label> <b>Le projet a commence le</b> :  </label> {{ projet.prjTimelineStartAt|date('Y-m-d H:i:s') }} </li>
              <li style="padding-left:40px"><label> <b>Et finira le</b> : </label> {{ projet.prjTimelineEndAt|date('Y-m-d H:i:s') }}  </li>
              <br /> <br />
            {% else %}
              <p> No projects found. </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>